# Traffic Volume and Social Media Analysis using Python
### Name : SHIVAM TRIPATHI
### Roll No : 231030054

In [ ]:
#Loading neccessary package
import numpy as np
import re

### TRAFFIC VOLUME ANALYSIS

In [ ]:
#Part- (a)
# Reading file i.e Data contains monthly traffic volume data (in vehicles) of a few sites in a given city
data_set= np.loadtxt('data.txt',delimiter=',')

In [ ]:
#Part - (b)
#To check the No of Sites given in data set of traffic volume
print(" number of sites for each traffic volume data is" , data_set.shape[0])

 number of sites for each traffic volume data is 50

In [ ]:
#Part - (c)
#monthly average traffic (MAT) volume for each site
mat= data_set.sum(axis=1)//12

#output of MAT for the first 5 sites
frst5_site=mat[0:5]
print("monthly average traffic volume for First 5 site = " , frst5_site)

monthly average traffic volume for First 5 site =  [707. 782. 720. 778. 720.]

In [ ]:
#Part - (d)
#total yearly volume for each site
tyv = data_set.sum(axis=1)

#site has maximum total yearly volume
s_max=np.argmax(tyv, axis=0)+1
print("Site having maximum total yearly volume is ", s_max)

# site has minimum yearly volume
s_min = np.argmin(tyv, axis=0)+1
print("Site having minimum total yearly volume is ", s_min)

Site having maximum total yearly volume is  34
Site having minimum total yearly volume is  37

In [ ]:
#Part - (e)
#maximum yearly volume
print("maximum yearly volume of Site " ,s_max, "is" ,max(tyv))

#minimum yearly volume
print("minimum yearly volume of Site " ,s_min, "is" ,min(tyv))

maximum yearly volume of Site  34 is 10108.0
minimum yearly volume of Site  37 is 7759.0

In [ ]:
#Part - (f)
#Monthly traffic volume across all site
mtv= data_set.sum(axis=0)

#month experienced maximum traffic volume across all sites
max_mtv = np.argmax(mtv,axis=0)+1
print("month experienced maximum traffic volume is" , max_mtv)

# month experienced minimum traffic volume across all sites
min_mtv= np.argmin(mtv , axis=0)+1
print("month experienced minimum traffic volume is" , min_mtv)

month experienced maximum traffic volume is 10
month experienced minimum traffic volume is 6

In [ ]:
#Part - (g)
# Which sites has total yearly volume > 9700 vehicles
site_g = np.where(tyv>9700)

# Get the sites with total yearly volume > 9700
sites = [index for index in site_g[0]+1]

print("Sites having total yearly volume > 9700 vehicles :", sites)

Sites having total yearly volume > 9700 vehicles : [18, 28, 34, 35, 46]

In [ ]:
#Part-(h)
#months where the total monthly volume for the entire city is greater than 38,000 vehicles
mnth_g= np.where(mtv>38000)

# Get the sites with total yearly volume > 38000
site = [index for index in mnth_g[0]+1]

print("Months where the total monthly volume for the entire city > 38,000 vehicles :", site)

Months where the total monthly volume for the entire city > 38,000 vehicles : [10, 11]

## TWEET ANALYSIS

In [ ]:
#Part - (a)
x_tweet = "Neeraj Chopra brings home the much awaited Gold First place medal for Flag of India in his debut Olympic Games.\
        The gigantic effort made sure India has best ever medal haul in the olympics. Congratulations champ Neeraj Chopra,\
        the whole nation is proud of you"

In [ ]:
#Part - (b)
tweet_lst = re.split("\s+" , x_tweet)
print("Output list =", tweet_lst)

Output list = ['Neeraj', 'Chopra', 'brings', 'home', 'the', 'much', 'awaited', 'Gold', 'First', 'place', 'medal', 'for', 'Flag', 'of', 'India', 'in', 'his', 'debut', 'Olympic', 'Games.', 'The', 'gigantic', 'effort', 'made', 'sure', 'India', 'has', 'best', 'ever', 'medal', 'haul', 'in', 'the', 'olympics.', 'Congratulations', 'champ', 'Neeraj', 'Chopra,', 'the', 'whole', 'nation', 'is', 'proud', 'of', 'you']

In [ ]:
#Part - (c)
#How many words are present in the tweet?
total_words = len(tweet_lst)
print("total words in the tweet = ", total_words)

total words in the tweet =  45

In [ ]:
#Part - (d)
#How many unique words are present in the tweet?
uniq_words =set(tweet_lst)
print("Total unique words present in tweet are =" , len(uniq_words) )

Total unique words present in tweet are = 38